.MainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 100px 171px 100px 171px;
}

.MainSection h1 {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: bold;
    line-height: auto;
    margin: 0px;
    margin-bottom: 20px;
}

.MainSection p {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    line-height: 35px;
    color: #A7A7A7;
    margin: 0px;
}

.belowSection {
    display: flex;
    gap: 150px;
}

.Block {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.LeftSide {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    margin-left: 200px;

}

.Block h1 {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    margin: 0px;
    font-size: 36px;
    line-height: auto;
    margin: 0px;
    margin-bottom: 0px;
}



.Block p1 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    color: #A7A7A7;
    margin: 0px;
    margin-bottom: 10px;

}



.Block a {
    text-decoration: none;
}

.glow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 11px;
    font-size: 15px;
    border: 1px solid #E70FAA
}

.glow::before {
    content: '';
    background: linear-gradient(to right, #13B0F5 3%, #E70FAA 100%);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.glow:active {
    color: #ffffff;
}

.glow:active::after {
    background-color: #191919
}

.glow:hover::before {
    opacity: 1;
}

.glow::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


.RightSide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Block img {
    width: 257px;
    height: 250px;
    animation: float 3s ease-in-out infinite;
}

/* 
@keyframes float {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0);
    }
} */



@media (min-width: 320px) and (max-width: 600px) {













    .MainSection {
        padding: 10px 10px 20px 10px;
        flex-direction: column;
    }

    .Block {
        flex-direction: column;
        gap: 0px;
    }

    .MainSection h1 {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .MainSection p {
        font-size: 15px;
        line-height: 0px;
        margin-bottom: 0px;
    }

    .belowSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }


    .LeftSide {
        gap: 0px;
    }

    .Block h1 {
        font-size: 16px;
    }

    .Block p1 {
        font-size: 11px;
        line-height: 15px;
    }



    .glow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 30px;
        font-size: 13px;
    }

    .Block img {
        width: 120px;
        height: 150px;
    }

}

@media (min-width: 601px) and (max-width: 900px) {
    .MainSection {
        padding: 50px 30px;
    }

    .MainSection h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .MainSection p {
        font-size: 18px;
        line-height: 22px;
    }

    .Block h1 {
        font-size: 15px;
        margin: 0px;
    }

    .Block p1 {
        font-size: 10px;
        line-height: 20px;
        margin: 0px;
    }

    .Block {
        gap: 0px;
    }

    .belowSection {
        display: flex;
        gap: 100px;
    }

    .glow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 30px;
        font-size: 10px;
    }

    .Block img {
        width: 120px;
        height: 150px;
    }


}


@media (min-width: 901px) and (max-width: 1200px) {

    .MainSection {
        padding: 10px 70px 0px 70px;
    }

    .Block {
        gap: 20px;
    }

    .MainSection h1 {
        font-size: 46px;
        margin-bottom: 0px;
    }

    .MainSection p {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 20px;
    }

    .LeftSide {
        gap: 10px;

    }

    .Block h1 {
        font-size: 20px;

    }

    .Block p1 {
        font-size: 11px;
        line-height: 0px;
        margin-bottom: 0px;

    }

    .Button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 100px;
        align-items: center;
        margin-top: 10px;
    }


    .glow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 30px;
        font-size: 12px;
    }

    .Block img {
        width: 120px;
        height: 150px;
    }

}